<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="AzerothCoreManager"
           Manufacturer="YourCompany"
           Version="!(bind.Property.Version)"
           UpgradeCode="5E13648B-3AFA-45E1-80A1-DCE4027AB5D2"
           Language="1033">
    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <Feature Id="MainFeature" Title="AzerothCoreManager" Level="1">
      <ComponentGroupRef Id="AppComponents" />
    </Feature>

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLDIR" Name="AzerothCoreManager" />
    </StandardDirectory>

    <Component Id="Svc" Directory="INSTALLDIR">
      <File Source="!(bindpath.AppRoot)\AzerothCoreManager.Service.exe" />
      <ServiceInstall Id="SvcInstall"
                      Name="AzerothCoreManager"
                      DisplayName="AzerothCore Manager"
                      Description="Manages AzerothCore Authserver and Worldserver"
                      Start="auto" Type="ownProcess" />
      <ServiceControl Id="SvcControl" Name="AzerothCoreManager"
                      Start="install" Stop="uninstall" Remove="uninstall" Wait="yes" />
    </Component>
  </Package>
</Wix>