

<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Description="Manages AzerothCore Authserver and Worldserver">
    <Product Id="*" Name="AzerothCore Manager" Manufacturer="AzerothCore" Version="1.0.0" Language="1033" UpgradeCode="PUT-GUID-HERE">

      <!-- MajorUpgrade -->
      <MajorUpgrade AllowDowngrade="no" DowngradeErrorMessage="A newer version of AzerothCore Manager is already installed."/>

      <!-- Directory structure -->
      <Directory Id="TARGETDIR" Name="SourceDir">
        <Directory Id="ProgramFiles64Folder" Name="PFiles">
          <Directory Id="INSTALLDIR" Name="AzerothCoreManager">

            <!-- Components will be harvested here -->

          </Directory>
        </Directory>
      </Directory>

    </Product>
  </Package>
</Wix>

